@font-face {
	font-family: "icons";
	src: url('../bin/fonts/icons/icons.eot');
	src: url('../bin/fonts/icons/icons.eot?#iefix') format('eot'),
		url('../bin/fonts/icons/icons.woff') format('woff'),
		url('../bin/fonts/icons/icons.ttf') format('truetype'),
		url('../bin/fonts/icons/icons.svg#icons') format('svg');
}

@mixin icon-styles {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == 808 {
		$char: "\E001";
	}
	@if $filename == draw {
		$char: "\E002";
	}
	@if $filename == harp {
		$char: "\E003";
	}
	@if $filename == mic {
		$char: "\E004";
	}
	@if $filename == wave {
		$char: "\E005";
	}
	@if $filename == wine {
		$char: "\E006";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-808 {
	@include icon(808);
}
.icon-draw {
	@include icon(draw);
}
.icon-harp {
	@include icon(harp);
}
.icon-mic {
	@include icon(mic);
}
.icon-wave {
	@include icon(wave);
}
.icon-wine {
	@include icon(wine);
}