doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='css/screen.css')
		link(rel='shortcut icon', href='favicon.ico?v=2')
		title 3D Spectrogram
	body
		canvas#spectrogram
		canvas#legend
		#iosButton
		#record.music-box__modal
			.music-box__modal__message
				.music-box__modal__record-rings
				.music-box__modal__record-rings

				.music-box__modal__icon.icon-mic

		#drawAnywhere.music-box__modal
			.music-box__modal__message
				//- .music-box__modal__icon.icon-draw
				.music-box__hand-animation-sprite
				
				
		#loadingSound.music-box__modal
			.music-box__modal__message
				#loadingMessage.music-box__modal__message__text Flute
				<svg class="spinner" width="55px" height="55px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="circle" fill="none" stroke-width="3" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
		.music-box__buttons
			//- ////////////////////////////////////////////////////////////////////////
			.music-box__buttons__button(data-mic data-name="mic")
				.icon.icon-mic
			//- ////////////////////////////////////////////////////////////////////////
			.music-box__buttons__button(data-draw data-name="draw")
				.icon.icon-draw
			//- ////////////////////////////////////////////////////////////////////////
			.music-box__buttons__button(data-name="Spectrogram_UI_Instrament_Harp" data-src="bin/snd/160211_spectrogram_harp_new.mp3")
				.icon.icon-harp
			//- ////////////////////////////////////////////////////////////////////////
		#fileDrop
			<div class="file-overlay"><div class="file-overlay-description"></div></div>

		//- Javascripts ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(type='text/javascript', src="js/bundle.js")
		script(type='text/javascript', src="js/app.js")
		//- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
